# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Got the Database URL from the Config page in Database
DATABASE_URL=""

# Just generate this using $openssl rand -base64 32 then copy it here
NEXTAUTH_SECRET=""

# Next Auth Google Providers Client ID & Secret
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""